.flex-container{
    display:flex;
}
.left{
    padding-left:2%;
}
.text{
    text-align:center;
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.aboutImage{
    height:335px;
}
div{
    background-color: rgb(94,94,94);
    margin-top:-1.6%;
    margin-left:-0.6%;
    width:101.25%;
    height:520px;
}