.main{
    background-color: rgb(94,94,94);
    margin-top:-1.6%;
    margin-left:-0.6%;
    width:101.25%;
    padding-top:1%;
}
.goBackButton{
    width:15%;
}
.change{
    width:15%;
    margin-left:85%;
}
.miniFlex{
    border:1px solid white;
    margin-top:2%;
    width:90%;
    display:flex;
    justify-content: space-between;
    margin-left:5%;
}
.left{
    color:black;
}