<div class="main">
    <button (click)="goBack()" class="goBackButton">Go Back</button>
    <button (click)="changeImgSize()" class="change">Change Image Size</button>
    <div *ngFor="let photo of photos" class="flex-container">
        <div class="miniFlex">
            <div *ngIf="!format">
            <div *ngIf="photo.url">
            <img src="{{photo.url}}" alt=""> 
            </div>
            </div>
            <div *ngIf="format">
                <div *ngIf="photo.thumbnailUrl">
                <img src="{{photo.thumbnailUrl}}" alt=""> 
                </div>
            </div>
            
            <div class="left">
                <div *ngIf="photo.albumId">
                  <h3> AlbumID: {{photo.albumId}}</h3>
                </div>
                <div *ngIf="photo.id">
                   <h3> PhotoID: {{photo.id}}</h3>
                </div>
                <div *ngIf="photo.title">
                   <h4><br><br> {{photo.title}}</h4>
                </div>
            </div>
           
        </div>
    </div>
</div>
