.albumsMain{
    background-color: rgb(94,94,94);
    margin-top:-1.6%;
    margin-left:-0.6%;
    width:101.25%;
    padding-top:3%;
}
.inputClass{
    text-align:center;
    padding-bottom:3%;
}
.albums{
    display:flex;
    justify-content: space-between;
    width:50%;
    padding-left:25%;
}
.albumText{
    color:white;
    font-size:120%;
}
.inputText{
    padding-left:1%;
}